html {
  border-top: solid 3px #CC0000;
  padding-top: 5px;
}

.navbar {
  margin-top: 10px;
}

h1 {
  background: #ffffff url(../img/rubynortheast.png) no-repeat left center;
  padding: 2px 0 2px 60px;
  line-height: 54px;
}
p {
  font-family: Georgia, Serif;
  font-size: 18px;
  line-height: 24px;
}
.image_box p {
  text-align: center;
}
.image_box p img {
  padding: 5px;
  text-align: center;
}
section {
  margin-top: 40px;
}
iframe {
  border: none;
}

#third_party_links a {
  display: block;
}

#twitter {
  background: #ffffff url(../img/twitter.png) no-repeat left center;
  padding: 2px 0 2px 26px;
}

#irc {
  background: #ffffff url(../img/irc_protocol.png) no-repeat left center;
  padding: 2px 0 2px 26px;
}

#google-group {
 background: #ffffff url(../img/google-group.png) no-repeat left center;
 padding: 2px 0 2px 26px;
}

#next_meet img {
  float: left;
  padding-right: 20px;
}
